h1 
{
color:royalblue;
font-size:40px;
}
.body_background {
background-image:url("bg1.jpg") ;
background-position: center;
background-size: cover;
}

#olympics{
border-width: 10px;
background-color: white;
border-style: ridge;
}